.card-img-top{
  width: 600px !important;
  height: 400px !important;
}

 .nainnain{
  border: 1px solid black !important;
  width: 600px !important;
  height: 100px !important;
  background-color: black !important;
  color: white !important; 
}
.card{
  float: right;
  position: relative;
  bottom: 516px;
  background-color: rgb(166, 255, 0) !important;
  color: black;
}
.img-fluid{
  float: right;
  position: relative;

}

.img3{
  float: right;
  width: 290px;
  height: 180px;
  position: relative;
  left: 290px;
  bottom: 205px;

}
 .para3{
  width: 140px;
  height: 180px;
 float: right;
position: relative;
left: 580px;
bottom: 205px;
text-align: center;
padding-top: 25px;
background-color: gray; 

}

.card-imgg-top{
  height: 180px !important;
}
.card-group{
  position: relative !important;
   top: 230px; 
   width: 840px; 
  height: 200px !important;
  margin: 15px !important;
}
.card-imggg1-top{
  width: 279px !important;
}
.carousel {
  position: relative !important;
width: 1000px !important;
background-color: black !important;
height: 250px !important;
bottom: 100px !important;
}

.d-block{
  position: relative !important;
height: 245px !important;
width: 245 !important ;

}

.button{
  width: 200px;
  height: 30px;
 background-image: url("https://www.bing.com/th?id=OIP.h_QfWGvCHNcKQT_QZIGmTgHaHb&w=249&h=250&c=8&rs=1&qlt=90&o=6&dpr=1.4&pid=3.1&rm=2");
background-size: 27px ;
background-repeat: no-repeat;
position: relative !important;
top: 300px;
background-color: black;
color: white;
border-radius: 5px;
}
.card-img888-top{
  width: 280px;
 position: relative;
 bottom: 200px;
}
.card-bodyyyhg0{
  position: relative;
 bottom: 200px;
 background-color: red;
text-align: center;
bottom: 200px;
width: 280px;
}
.card-bodyyyhg2{
  position: relative;
  bottom: 430px;
  background-color: purple;
 text-align: center;
 /* bottom: 200px; */
 left: 300px;
 width: 280px;
}
.card-bodyyyhg3{
  position: relative;
  bottom: 660px;
  background-color: coral;
 text-align: center;
 /* bottom: 200px; */
 left: 600px;
 width: 280px;
}
.card-img918-top{
  width: 280px;
  position: relative;
bottom: 660px;
left: 600px;

}
.carousel{
  position: relative !important ;
  bottom: 520px !important;
}



.card-img998-top{
  width: 280px;
  position: relative;
  bottom: 430px;
  left: 300px;
}


.carddd{
  position: relative !important;

}
.card-bodyy{
  border: 1px solid black;
  width: 280px;
  color: white;
  background-color: black;
  padding: 10px !important;
}

  .card-imgg8-top{
position: relative !important;
left: 300px;
width:280px !important ;
bottom:270px !important ;


  }

  .card-bodyyy{
    position: relative !important;
    color: white;
background-color: navy;
left: 300px !important;
bottom: 278px !important;
width: 280px;
padding: 10px !important;
  }

  .card-imgg81-top{
    width: 280px;
    position: relative;
    bottom: 500px;
left:600px ;

  }
  .card-bodyyy1{
    position: relative;
    bottom: 500px;
    width: 280px;
left: 600px;
border: 1px solid black;
background-color: cadetblue;
color: white;
padding: 10px;
  }

  .card-imgg82-top{
    width: 280px;
    position: relative;
    bottom: 490px;
left:px ;
  }

.card-bodyyy2{
  position: relative;
  bottom: 490px;
  width: 280px;
left: px;
border: 1px solid black;
background-color: cadetblue;
color: white;
padding: 10px;
}
.card-imgg777-top{
  width: 280px;
}
.card-bodyyyhg{
  position: relative;
 
  background-color: lightblue;
  color: black;
  width: 280px;
}
.carddd1{
  position: relative !important;
  bottom: 350px !important;
}
.btnbutton{
  width: 200px !important;
  background-color: black;
  color: white;
  position: relative;
  bottom: 470px;
left: 650px;
border-radius: 5px;

}


  .card-imgg83-top{
    width: 280px;
    position: relative;
    bottom: 650px;
left:300px ;
  }
.card-bodyyy3{
  position: relative;
  bottom: 650px;
  width: 280px;
left: 300px;
border: 1px solid black;
background-color: cadetblue;
color: white;
padding: 10px;

}


  .card-imgg84-top{
    width: 280px;
    position: relative;
    bottom: 990px;
left:602px ;
  }
.card-imgggh-top{
  width: 170px !important;
height: 130px !important;
position: relative !important;
bottom: 400px !important;


}



  .card-bodyyy4{
    position: relative;
    bottom: 990px;
    width: 280px;
left: 602px;
border: 1px solid black;
background-color: cadetblue;
color: white;
padding: 10px;
  }

  .cccc{
    background-color: orange;
    position: relative;
    bottom: 1320px;
    left: 600px;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    /* border-radius: 10px; */
  border-top-left-radius: 40px;
  }

  .ccc{
    background-color: purple;
    position: relative;
    bottom: 1272px;
    left: 395px;
    width: 200px;
    height: 60px;
    border: 1px solid black;
    /* border-radius: 10px; */
    border-bottom-right-radius: 40px;
  }



 .ulli{
  border: 1px solid black;
  background-color: black;
  color: white;
  position: relative;
  bottom: 1235px;

 }

 .navbar{
width: 840px !important;
 }

.png12{
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 1500px;
  left: 310px;

}
.pngab{
  position: relative;
  width: 30px;
  height: 30px;
  bottom: 1500px;
  left: 320px;
}

.png34{
  position: relative;
  width: 30px;
  bottom: 1500px;
  left: 330px;

}

.pngcd{
  position: relative;
  width: 30px;
  /* bottom: 1450px; */
  bottom: 1500px;
  left: 340px;
}
.png56{
  position: relative;
  width: 30px;
  /* bottom: 1450px; */
  bottom: 1500px;
  left: 350px;
}
 a{
  color: white !important;
}
.hasnain{
  position: relative;
  bottom: 2000px;
  left: 300px;
  font-size: xx-large;
  color: gray;
}
